:root{

    --gap: 15px;

}


.grid{

    display:grid;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows:1;

    grid-gap:var(--gap);

    align-items:flex-start;

}

.wrapper{

    position:relative;

}

.header{

    display:flex;
    flex-wrap:wrap;
    margin-bottom:var(--gap);
    padding: 0 var(--gap) var(--gap) var(--gap);

    color:rgb(112, 112, 112);

    letter-spacing:1px;

    align-items: center;

    border-bottom:solid 2px #f9f9f9;

    

}


.place{

    margin-right:10px;
    text-transform: capitalize;

}

.link{

    transition:color 0.5s;
    cursor:pointer;

}

.link:hover{

    color:royalblue;

}

.link__active{

    color:royalblue;
    font-weight:600;

}

.switch > span:not(:last-of-type){

    margin-right:5px;

}

.switch{

    display:flex;
    align-items:center;

}

.time{

    flex-grow:1;

}

.loader{

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    z-index:100;

    background:white;

    display:flex;
    align-items: center;
    justify-content: center;

    border:solid 2px #f9f9f9;

}

.loader::after{

    content:"";
    display:block;

    height:35px;
    width:35px;

    border-radius:50%;

    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */


    animation-name:spin;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}



@keyframes spin{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }


}



@media(max-width:400px){

    .grid{


        grid-template-columns: repeat(2,1fr);

    }


}

@media(max-width:200px){

    .grid{


        grid-template-columns: repeat(1,1fr);

    }

    .header{

        flex-direction: column;

    }

    .header > div{

        flex-grow:1;
        flex-basis:50%;
        text-align:center;

    }

    .place{

        margin-right:0;

    }

    .switch{

        margin-top:5px;

    }


}

